
#main {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#dashboard {
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--container-color);
    border-radius: var(--primary-radius);
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    padding: 40px 20px;
}

#dashboard h1, #dashboard h2 {
    margin-bottom: 30px;
}

#dashboard .cards {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    margin-top: 15px;
}
